h1 {
    text-align: center;
    background-color: yellow;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    height: auto;
    width: 400px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}